@mixin title-h2 () {
  font-family: "trebuchetms";
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  
  color: #363636;

  @media (max-width: 500px) {
    font-size: 27px;
  }

  @media (max-width: 400px) {
    font-size: 21px;
  }
}

@mixin basic-button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;

  font-family: "trebuchetms";
  font-weight: 700;

  border-top: 1px solid silver;
  color: #ccc;
  background: linear-gradient(0.53deg, #FF6C00, #F9A43F, #FB791B);
  background-size: 100% 140%;
  background-position:0 100%;
  transition: background 0.3s ease;
  border-radius: 9px;
  border: 0;
  outline: 0;

  color: #FFFFFF;
  cursor: pointer;

  &:hover,
  &:focus {
    background-position:0 0;

  }
}

